#project-list {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  max-width: 800px;
}

.project-item {
  background-color: white;
  padding: 2rem;
  margin: 1rem;
}

.technologies span {
  background-color: lightblue;
  margin: 0.25rem;
  padding: 0.5rem;
  border-radius: 4px;
  display: inline-block;
}

@media (min-width: 700px) {
  #project-list {
    flex-direction: row;
  }

  .project-item {
    width: 50%;
  }
}